.movieText {
   color: rgb(113, 13, 29);
   font-size: 2em;
}

.movieHeading {
   color: black;
   text-align: left;
   font-size: 2em;
}

/* 1. The text for the heading and list items can be any color EXCEPT black. (HINT: Take advantage of the movieText class).
2. The movie list should have heading that aligns to the left.
3. The font size should be large enough to easily read. */